button {
  background-color: firebrick;
  color: white;
  border: none;
  border-radius: 3px;
  padding: 5px 15px;

  &:hover {
    background-color:maroon
  }

  &:disabled {
    background-color: grey;
    cursor: not-allowed;
  }
}
